@args String query, List languages, String langA, String langB, String mode, List translations
@import org.apache.log4j.Level
<!DOCTYPE html>
<html>
    <head>
        <title>@product - Translations</title>
        <link rel="stylesheet" media="screen" href="@prefix/assets/system/css/bootstrap.css">
    </head>
    <body>
        <div class="container">
            <h1>Translations</h1>
                <form class="form-inline" action="@prefix/system/nls" method="get" id="search">
                <div class="well">
                    <div class="pull-left">
                        <input type="text" name="query" value="@query" placeholder="@i18n("NLS.searchkey")" autofocus />
                        <input type="submit" value="Search" />
                    </div>
                    <span class="clearfix"></span>
                </div>
                <div class="row">
                    <div class="span3">
                        <div class="well filter-box" style="padding: 8px 0;">
                            <ul class="nav nav-list">
                                <li class="nav-header">Mode</li>
                                <li class="@(mode == 'missing')">
                                    <a href="@prefix/system/nls?query=@query&" class="row">
                                        <span class="filter-title">
                                           XXX
                                        </span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="@prefix/system/nls" class="row">
                                        <span class="filter-title">
                                           XXX
                                        </span>
                                    </a>
                                </li>
                                <div class="clearfix"></div>
                                <li class="nav-header">Langauge A</li>
                                <li class="active">
                                    <a href="@prefix/system/nls" class="row">
                                        <span class="filter-title">
                                           XXX
                                        </span>
                                    </a>
                                </li>
                                <div class="clearfix"></div>
                                <li class="nav-header">Langauge B</li>
                                <li class="active">
                                    <a href="@prefix/system/nls" class="row">
                                        <span class="filter-title">
                                           XXX
                                        </span>
                                    </a>
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <div class="span9">
                        <table class="table table-bordered">
                            <tr>
                                <th>Key</th>
                                <th>@langA</th>
                                <th>@langB</th>
                                <th>File</th>
                            </tr>
                            @for(sirius.kernel.nls.Translation t : translations) {
                                <tr>
                                    <td>@t.getKey()</td>
                                    <td>@t.translateWithoutFallback(langA)</td>
                                    <td>@t.translateWithoutFallback(langB)</td>
                                    <td>@t.getFile()</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>